.product {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    float: left;
    transition: box-shadow 0.4s ease-in-out;
    border-radius: 5%;
}

.product img {
    width: 100%;
    height: auto;
}

.product h3 {
    margin-top: 10px;
}

.product p {
    margin-top: 5px;
    font-weight: bold;
}


.product:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 5%;
}



.contenido {

    display: flex;
    width: 70%;
    height: auto;
    min-height: 700px;
    padding: 20px 50px 4em 50px;
    margin: 10px auto;
    margin-top: 1px;
    border-top: none;
    border-bottom: 6px double;
    border-left: none;
    border-right: none;
    animation: bluered-border 1s infinite;
    overflow: hidden;
    margin-bottom: 3em;
}